# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Some important credentials
*.env.local

# Optional npm cache directory
.npm

# Dependency directories
node_modules/
jspm_packages/

# Logs
logs
*.log
npm-debug.log*
